.full-length, mat-slider {
	width: 100%;
}

.half-length{
	width: 50%;
}

mat-radio-button {
	margin-left: 20px;
}

section {
	margin-bottom: 20px;
}

mat-card {
    transition: none !important;
    box-shadow: none !important;
}

p {
	padding: 5px;
	text-align: center;
}